---
import type { PageTitel } from '../types'
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from '../components/BlogPost.astro';

interface Post {
  url: string;
  frontmatter: {
    title: string;
  };
}

const allPosts:Post[] = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitel : PageTitel = {
	titel: "My Astro Learning Blog",
};
---

<BaseLayout {...pageTitel}>
    <p>This is where I will post about my journey learning Astro.</p>

    <ul>
      {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title}></BlogPost>)}
    </ul>
</BaseLayout>