---
import type { PageTitel } from '../types'
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitel : PageTitel = {
	titel: "Home",
};
---

<BaseLayout {...pageTitel}>
	<h2>My awesome blog subtitle</h2>
</BaseLayout>