---
import '../styles/global.css';

const pageTitel: string = "Home";
---
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitel}</title>
  </head>
  <body>
	<a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>{pageTitel}</h1>
  </body>
</html>