---
import type { PageTitel } from '../types'
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const {titel} = Astro.props as PageTitel;
---
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{titel}</title>
  </head>
  <body>
	<Header />
    <h1>{titel}</h1>
    <slot />
	<Footer />
	<script>
        import "../scripts/menu.js";
	</script>
  </body>
</html>